@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@300&display=swap");
:root {
    /*-- Dark Mode Colours --*/
    --background-color: white;
    --text-color: black;

        /*-- Colours --*/
        --primary-color: #091E05;
        --secondary-color: #D87CAC;
        --tertiary-color: #004F2D;
        --accent-color: #F9B9C3;
        /*-- Font Families--*/
        --h-font: 'Comfortaa', 'Shadows Into Light', sans-serif;
        --p-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dark-mode {
      --background-color: black;
      --text-color:white;    
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: auto;
}
#logo-top {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    margin-left: 10px;
    margin-right: 5px;
}
#banner-content{
    margin: 1px;
    padding: 10px;
    text-align: left;
}
#banner-content h2{
    font-family: var(--h-font);
}
#banner-content p{
    margin-top: -20px;
    font-family: 'Roboto';
}
#menu::before {
	content: "≡";
    
}

#menu {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    color: var(--secondary-color);
    margin-top: 30px;
}
nav {
    display: flex;
    justify-content: flex-end;
}
.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: var(--accent-color);
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    font-family: var(--h-font);
}
.navigation a:hover, .navigation a:active {
    color: var(--primary-color);
    background-color: var(--accent-color);
}
.show li {
    display: block;
}
#menu.show::before {
    content: "X";

}
.active {
    border-top: 1px solid var(--accent-color);
    border-bottom:  1px solid var(--accent-color);
}

#gear {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
}
#gear::before {
    content: "\2699"
}
#gear.open::before {
    content: "X";
}
.setting {
    display: flex;
    list-style: none;
    position: absolute;
    top:4px;
    right: 0;
    color: var(--secondary-color);
}

.setting li {
    display: none;
}

.setting button {
    background-color: #4CAF50;
    font-family: var(--h-font);
    color: var(--primary-color);
    text-align: center;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
}
.open li {
    display: block;
}
.open li a{
    display: block;
}

main{
    display: flex;
    flex-direction: column;
}
.hero img {
    width: 100%;
    height: auto;
}
 #title{
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--h-font);
    font-size: 2rem;
    padding: 5px;
    margin-top: -5px;
 }

.image-slider {
    width: 80%;
    height: auto;
    max-width: 355px;
    max-height: 355px;
    overflow: hidden;
    position: relative;
    
}
.slider-image {
    width: 100%;
    height: 100%;
    display: none;
}

.slider-image:first-child {
    display: block;
}

.weather-card {
    border: solid var(--secondary-color);
    font-family: var(--h-font);
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 10px;
    max-width: 397px;
    opacity: 75%;
}
.card-container h2{
    font-family: var(--h-font);
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    color: var(--accent-color);
    text-align: center;
    position: relative;
    background-color: var(--primary-color);
    font-size: .8em;
    padding: 20px;
    line-height: 1.5;
    margin: auto;
}
.bottom-text {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}
.bottom-text p {
    margin-right: 10px;
    margin-top: 10px;
}
#logo-bot {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
}
#lastmodified {
    color: #ffffff;
}

/* discorvy Css*/
.discovery-grid {
    display: grid;
    grid-template-columns: 190px auto; 
    
}

.content-banner {
    grid-column: 1 / 2; 
    border-right: solid var(--secondary-color);
    border-bottom: solid var(--secondary-color);
    background-color: var(--primmary-color);
    width: 190px

}
#discover-1, #discover-2, #discover-3 {
    border-bottom: solid var(--secondary-color);
    color: var(--secondary-color);
    margin: 0;
    padding-top: 10px;
}
#discover-1 h2, #discover-2 h2, #discover-3 h2{
    color: var(--accent-color);
}
#discover-1{
    border-top: solid var(--secondary-color);
}
.dis-img {
    width: 100%;
}
.dis-img img{
    width: 100%;
}


.image-grid {
    grid-column: 2 / 3; 
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 5px; 
}

h2 {
    text-align: center; 
    font-size: 18px;
    margin-top: 10px; 
    font-family: var(--h-font);

}
/* join CSS */

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    padding: .5rem 2%;
  }
  form legend  {
    color: var(--tertiary-color);
    margin: 0 1rem;
    padding: 0 .5rem;
  }
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--secondary-color);
    font-size: .8rem;
  }
  form label.top input {
    display: block;
    font-size: 1rem;
    border: grey solid 1px;
    border-radius: 4px;
    padding: .75rem;
    color: darkgray;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
  }
  form label.sbs {
    display: block;
    padding: .75rem;
    color: darkgrey;
  }
  form input.submitButton {
    border: none;
    background-color: var(--tertiary-color);
    color: var(--accent-color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 10px;
    margin-top: -15px;
    width: 96%;
    max-width: 20rem;
  }
  form label.top input:required {
    border-left: solid red 6px;
  
  }
  form label.top input:required:valid {
    border-left: green solid 6px;
  }
  /* join table */
  #join-t {
    max-width: 80%;
    font-family: var(--text-color);
    font-size: .96rem;
    margin: 10px;
    max-width: 460px;
  }
  #join-t caption {
    display: none;
  }

  #join-t th, #join-t td {
    border: solid 1px var(--primary-color);
  }
  #join-table-header {
    font-family: var(--h-font);
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  #join-t thead {
    background-color: var(--tertiary-color);
    color: var(--accent-color);
  }
  #join-t tbody tr:nth-child(odd){
    background-color: #eccbd0;
  }
  .yes {
    color: green;
  }
  .no{
    color: red;
  }
  /* Thankyou CSS */
  #thanks{
    text-align: center;
    color: var(--primary-color);
    font-family: var(--h-font);
  }