@media only screen and (min-width: 40em) {
    .navigation {
        display: flex;
    }
    .navigation li {
        display: flex;
        flex: 1 1 auto; /* Change the flex property */
        text-align: center; /* Center the text within each li */
        margin: auto;
    }
    .navigation a {
        display: block; /* Make the links a block element to fill the entire width */
        margin: auto;
    }
    #menu {
        display: none;
    }
    .map {
        display: block;
        margin: 0 auto;
    }
    .home-grid{
        display: grid;
        max-width: 80%;
        margin: auto;
    }
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 20px; 
    }
    #business-card {
        grid-column: 1 / 2;
    }
    #stay-card {
        grid-column: 2/ 4;
    }
    #here-card {
            grid-column: 4 / 5;
    }
}
