@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat&display=swap');
:root {
    /*-- Colours --*/
    --pri-colour : #214E78;
    --sec-colour : #F2BB05;
    --a1-colour : #4ecdc4;
    --a2-colour : #f7fff7;

    /*-- Font --*/
    --h-font : 'Montserrat', sans-serif;
    --p-font : 'Inter', sans-serif;

}
body{
    font-family: var(--p-font);
}

.logo img {
    width: 50px;
}
.logo {
    background-color: var(--a2-colour);
}
#soc-top {
    position: absolute; top: 0; right: 0;
}
.socials img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

/*-- Naviation CSS --*/

header{
    background-color: var(--pri-colour);
    font-family: var(--h-font);
}
#menu {
    text-decoration: none;
    padding-top: 5px;
    position: relative;
    top: .3rem;
    
}
#menu::before {
    content: "≡";
    color: var(--sec-colour);
    font-size: 3rem;
}
#menu.show::before{
    content: "X";
    color: var(--sec-colour);
    font-size: 2rem;

}
#menu {
    font-size: 2rem;
    
}
nav {
    color: var(--sec-colour);
    display: flex;
    flex-direction: column;

}
.navigation {
    list-style-type: none;


}
.navigation li {
    display: none;
}
.navigation.show li {
    display: flex;
    flex-direction: column;
    background-color: var(--pri-colour);
    margin: 0;
    padding: 0;
    position: relative;
    top: -3.3rem;
}
.navigation.show a {
    color: var(--a2-colour);
    font-size: 2rem;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    text-align: left;

}
.navigation.show a:hover{
    background-color: var(--sec-colour);
    color: var(--pri-colour);
    transition: cubic-bezier(1, 0, 0, 1);
}
.active {
    border-right: solid var(--sec-colour);
    border-left: solid var(--sec-colour);
}
/*-- Hero CSS --*/
.hero-box {
    margin: 0;
}
.hero-slider {
    position: relative;
    max-width: 1800px;
    margin: auto;
    overflow: hidden;
    height: 166px;
    z-index: 1;
}
.fade {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-text {
    font-family: var(--h-font);
    position: relative;
    top: -10rem;
    text-align: center;
    z-index: 2;
}
.hero-text h4 {
    font-size: 1.4rem;
    color: var(--a2-colour);
    letter-spacing: 1.5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}

.hero-text a {
    font-size: 1rem;
    color: black;
    background-color: var(--sec-colour);
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--pri-colour);
}

.hero-text a:hover {
    background-color: var(--a2-colour);
    color: black;
    transition: .5s;
}
/*-- Location Card --*/
#location-conatiner {
    position: relative;
}
#location-conatiner h2, #location-conatiner h4 {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--h-font);
    color: var(--pri-colour);
}
#location-conatiner h4 {
    font-size: 1.5rem;
}
#location-conatiner a{
    text-decoration: none;
    color: black;
    text-align: right;
}
#location-conatiner h5 {
    font-size: 1.3rem;
    margin-bottom: -5px;
    margin-top: -5px;
    background-color: var(--sec-colour);
    padding: 10px;
}
#location-conatiner p {
    background-color: var(--sec-colour);
    padding: 10px;
}

/*-- Weather Card --*/

#weather-container {
    background-color: var(--pri-colour);
    color: var(--a2-colour);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: var(--h-font);
    text-align: left;

}
#weather-container img {
    vertical-align: middle;
}

.alert {
    color: #f50707;
    padding: 10px;
    margin-bottom: 10px;
}

#current-weather {
    margin-top: 20px;
}

p {
    margin: 5px 0;
}

#forecast {
    margin-top: 20px;
}

#forecast-details {
    white-space: pre-line;
}

/*-- Vehicles CSS --*/

#vehicle-title {
    text-align: center;
    font-size: 3rem;
    color: var(--pri-colour);
    position: relative;
    font-family: var(--h-font);

}

#vehicle-title::before,
#vehicle-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 10%;
    height: 3px;
    background-color: var(--pri-colour);
}

#vehicle-title::before {
    left: 0;
    transform: translateY(-50%);
}

#vehicle-title::after {
    right: 0;
    transform: translateY(-50%);
}

.vehicles h4 {
    font-size: 2rem;
    background-color: var(--sec-colour);
    color: var(--pri-colour);
    padding: 20px;
    margin: 0;
    border: solid var(--pri-colour) 1px;
    font-family: var(--h-font);
}
.toggle {
    cursor: pointer;
}

.toggle-content, .toggle-image {
    display: none;
}
.hidden {
    display: block;
}

/*-- Footer CSS --*/
footer {
    font-family: var(--h-font);
    display: flex;
    background-color: var(--pri-colour);
    padding: 5px;
}
footer .logo {
    background-color: var(--pri-colour);
}
footer ul {
    list-style: none;
}
footer a{
    color: var(--a2-colour);
    text-decoration: none;
    padding: 4px;
    font-size: 1.3rem;
}
footer a:hover{
    background-color: var(--sec-colour);
    color: var(--pri-colour);
    padding: 10px;
    transition: 0.5s;
}

/*-- Rental CSS --*/
#rentalTitle, #tableTitle {
    text-align: center;
    font-family: var(--h-font);
    color: var(--pri-colour);
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: .8rem;
}
#rentalTable thead {
    background-color: var(--sec-colour);
    color: var(--pri-colour);
    border-bottom: none;
    border: 1px solid var(--pri-colour);
    font-family: var(--h-font)
}
#rentalTable thead th:nth-child(3), #rentalTable thead th:nth-child(5){
    padding: 8px;
    border: 1px solid var(--pri-colour);
    border-right: none;
    text-align: center;


}
td {
    border: 1px solid var(--pri-colour);
    padding: 8px;
    text-align: left;
}
tr:first-child{
    background-color: var(--sec-colour);
    font-family: var(--h-font);
}
tr:nth-child(even) {
    background-color:var(--a1-colour);    
}

#rentalCards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    grid-gap: 5cap;
    justify-content: center;
}

#rentalCards img {
    width: 350px;
    height: 240px;

}
.rentalCard {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: var(--a2-colour);
    padding: 5px;
    transition: 0.5s;


}


/*-- Reservation CSS --*/

#reservationTitle {
    font-size: 2rem;
    margin-left: 15px;
    font-family: var(--h-font);
    color: var(--pri-colour);
}
.container {
    width: 100%;
    max-width: 500px;

}

.form-group {
    border: none;
    background-color:var(--a2-colour);
    font-family: var(--p-font)
}

label, .labelP {
    display: block;
    margin-top: 10px;
    color: var(--pri-colour);
}
.radio{
    color: rgb(92, 80, 80);
    margin: 0;
    padding: 0;
    position: relative;
    left: 20px;
}
input#half, input#full {
    position: relative;
    bottom: 17px;

}

input, select {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:required{
    border-left: 5px solid red;
}
input:required:valid{
    border-left: 5px solid green;
}

form button {
    background-color: var(--a1-colour);
    color: black;
    padding: 10px 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--h-font);
    width: 95%;

}

button:hover {
    background-color: var(--sec-colour);
    color: var(--pri-colour);
    transition: 0.5s;

}
.agreeText{
    color: var(--pri-colour);
    margin-left: 15px;
}
#agreeList {
    color: black;
    margin-left: 25px;
}
.agreeText:last-child(){
    margin-bottom: 5px;
}
/*-- Contact Us --*/
input#replyPhone, input#noReply, input#replyEmail {
    position: relative;
    top: 20px;
}

#mapTitle {
    font-size: 2rem;
    text-align: center;
    font-family: var(--h-font);
    color: var(--pri-colour);
}
#mapTitle::before,
#mapTitle::after {
    content: "";
    display: block;
    position: absolute;
    top: 63%;
    width: 10%;
    height: 3px;
    background-color: var(--pri-colour);
}

#mapTitle::before {
    left: 0;
    transform: translateY(-50%);
}

#mapTitle::after {
    right: 0;
    transform: translateY(-50%);
}

#mapGrid {
    text-align: center;
    font-size: 1.2rem;
}
.map {
    width: 90%;
    height: 400px;
    margin: 5%;
}