:root {
    /*-- Colours --*/
    --primary-color: #091E05;
    --secondary-color: #D87CAC;
    --tertiary-color: #004F2D;
    --accent-color: #F9B9C3;
    /*-- Font Families--*/
    --h-font: 'Comfortaa', 'Shadows Into Light', sans-serif;
    --p-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Reset some default browser styles for consistency */
body, h1, h2, h3, ul, li, p, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Apply styles for the profile banner */
header {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-banner {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 90px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--accent-color);
}

.profile-info {
    margin-left: 20px; /* Add spacing between image and info */
    font-family: var(--h-font);
}

.profile-name {
    color: var(--accent-color);
    font-size: 3em;
    margin-bottom: 5px;
}


/* Apply styles for the links box */

#menu::before {
	content: "≡";
}
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: var(--accent-color);
	color: var(--primary-color);
}

#menu::before {
	content: "≡";
}

nav {
	background-color: var(--secondary-color);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--tertiary-color);
	font-weight: 700;
	transition: 0.5s;
    font-family: var(--h-font);
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.active::after {
	content: " 👀";
}
.navigation a:hover, navigation a:active {
	color: var(--accent-color);
	background-color:var(--primary-color);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}
.hero h2{
    position: absolute;
    top: 250px;
    right: 0;
    font-family: var(--h-font);
	color: var(--accent-color);
    background-color: var(--tertiary-color);
    margin-top: 15px;
    margin-right: 15px;
    padding: 10px;
    border: solid var(--secondary-color);
    opacity: 50%;

}
.hero img {
    width: 100%;
    height: auto;
}
.centered-heading {
    font-family: var(--h-font);
    color: var(--primary-color);
    text-align: center; /* Center-align the text */
    position: relative; /* Create a relative positioning context */
    padding-top: 20px;
    margin-bottom: 10px;
}
.card-container {
    display: flex;
    flex-direction: column; /* Stacked vertically by default */
}
.learning-activity {
    
    padding: 10px; 
    max-width: 80%; 
    margin: 0 auto;
}
.activtiy-heading {
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 3px;
    font-size: 1.5em;
    font-family: var(--h-font);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0; /* Remove default margins to ensure proper centering */
}
.activity-list {
    font-family: var(--p-font);
    list-style: none; /* Remove default list styles */
    padding: 10px; 
    border: 2px solid #a4508b;
}
#weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#weather-info img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
}

#weather-info p {
    font-size: 16px;
}

footer {
    color: var(--accent-color);
    text-align: center;
    position: relative;
    background-color: var(--primary-color);
    font-size: 1.2em;
    padding: 20px;
    line-height: 1.5;
}
#lastmodified {
    color: #ffffff;
}
h4 {
    display: none;
}
/*------ Form CSS ------*/

form {
    margin: 2rem 0;
    border: thin var(--accent-color);
    border-radius: 10px;
    padding: .5rem 2%;
}
form label{
    display: block;
    margin-top: .75rem;
    width: 100%;
    max-width: 23rem;
    font-size: 1.2rem;
    font-family: var(--h-font);
    color: var(--primary-color);

}

.top {
    width: 100%;
    max-width: 23rem;
    padding: 10px;
}
.top:required {
    border-left: thick solid red;

}
.top:required:valid {
    border-left: thick solid green;

}

form input.submitButton {
    display: block;
    margin-top: 1.3rem;
    width: 100%;
    max-width: 23rem;
    padding: 4px;
    color: var(--tertiary-color);
    background-color: var(--accent-color);
    font-size: var(--h-font);
}
form input.submitButton:hover {
    display: block;
    color: var(--accent-color);
    background-color: var(--primary-color);
}
#outputValue {
    display: block;
    font-family: var(--h-font);
    color: var(--primary-color);
}
#rating {
    color: #F9B9C3;
    width: 100%;
    max-width: 23rem;
}

#record-message {
    font-family: var(--p-font);
    color: var(--tertiary-color);
    padding: 10px;
    margin: 20px;
    text-align: center;
}